<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Supremica"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:Supremica/dist}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Supremica"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-enableassertions  -Xms500M -Xmx500M -Dcom.sun.management.jmxremote"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.supremica.gui.ide.IDE"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-p SupremicaProperties.cfg"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
