# Supremica specific to ignore
/bin/
/build/
/dist/
/logs/
/nbproject/
/resources/
/src/org/supremica/Version.java
/src/org/supremica/manufacturingTables/xsd/eop
/src/org/supremica/manufacturingTables/xsd/il/
/src/org/supremica/manufacturingTables/xsd/pr/
/src/org/supremica/manufacturingTables/xsd/processeditor/
/src/org/supremica/manufacturingTables/xsd/vr/
/arch.properties
/.supremica
SupremicaProperties.cfg

# generic files to ignore
*~
*.class 
*.lock
*.log
*.DS_Store
*.swp
*.out
*.bak
desktop.ini
junit*.properties
Thumbs.db
.dropbox
# IntelliJ IDEA
.idea
*.iml

# Don't ignore .settings - shared run configurations for Eclipse.
