##############################################################################
# Sample build.properties file for Waters
# $Id: build.properties.sample,v 1.3 2005-11-03 01:24:16 robi Exp $
##############################################################################
# Rename this file as build.properties and edit the file names below
# to match your system.
##############################################################################

##############################################################################
# JWSDP

# Java Web Services Developer Pack home
__jwsdp.home =/research/lib/jwsdp-1_5

# jar files of the Java Web Services Developer Pack
# (http://java.sun.com/webservices/webservicespack.html)
dom.jar = ${__jwsdp.home}/jaxp/lib/endorsed/dom.jar
jaxb-api.jar = ${__jwsdp.home}/jaxb/lib/jaxb-api.jar
jaxb-impl.jar = ${__jwsdp.home}/jaxb/lib/jaxb-impl.jar
jaxb-libs.jar = ${__jwsdp.home}/jaxb/lib/jaxb-libs.jar
jaxb-xjc.jar = ${__jwsdp.home}/jaxb/lib/jaxb-xjc.jar
jaxp-api.jar = ${__jwsdp.home}/jaxp/lib/jaxp-api.jar
xercesImpl.jar = ${__jwsdp.home}/jaxp/lib/endorsed/xercesImpl.jar
xalan.jar = ${__jwsdp.home}/jaxp/lib/endorsed/xalan.jar
sax.jar = ${__jwsdp.home}/jaxp/lib/endorsed/sax.jar
jax-qname.jar = ${__jwsdp.home}/jwsdp-shared/lib/jax-qname.jar
namespace.jar = ${__jwsdp.home}/jwsdp-shared/lib/namespace.jar
xsdlib.jar = ${__jwsdp.home}/jwsdp-shared/lib/xsdlib.jar
relaxngDatatype.jar = ${__jwsdp.home}/jwsdp-shared/lib/relaxngDatatype.jar

jwsdp.classpath = ${dom.jar}:${jaxb-api.jar}:${jaxb-impl.jar}:${jaxb-libs.jar}:${jaxb-xjc.jar}:${jaxp-api.jar}:${xercesImpl.jar}:${xalan.jar}:${sax.jar}:${jax-qname.jar}:${namespace.jar}:${xsdlib.jar}:${relaxngDatatype.jar}

##############################################################################
# JUNIT

junit.jar = /research/lib/apache-ant-1.6.2/lib/junit.jar

##############################################################################
# JAVADOC LINKS

java.api.url = http://www.scms.waikato.ac.nz/help/reference/j2sdk1.5/api/
jaxme.api.url = http://ws.apache.org/jaxme/apidocs/
junit.api.url = http://junit.sourceforge.net/javadoc/

javadoc.targetdir = /home/robi/public_html/waters/

##############################################################################
# BUILD PROPERTIES

debug=true
debuglevel=lines,vars,source
optimize=off
