##############################################################################
# Sample build.properties file for Waters
# $Id: build.properties.sample,v 1.7 2006-07-20 02:28:38 robi Exp $
##############################################################################
# Copy this file to build.properties and edit the names below
# to match your system.
##############################################################################

##############################################################################
# JAVADOC LINKS

java.api.url = http://www.scms.waikato.ac.nz/help/reference/j2sdk1.5/api/
jaxme.api.url = http://ws.apache.org/jaxme/apidocs/
junit.api.url = http://junit.sourceforge.net/javadoc/

javadoc.targetdir = /home/robi/public_html/waters/

##############################################################################
# BUILD PROPERTIES

debug=true
debuglevel=lines,source
optimize=off

##############################################################################
# NATIVE CODE COMPILATION

native.make = make

