<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/waters/tests/src/net/sourceforge/waters/analysis/compositional/TableExtractionCompositionalSynthesis.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sourceforge.waters.analysis.compositional.TableExtractionCompositionalSynthesis"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\sahar\Chalmers-Waikato\automatica2014/heuristicdata.tex&#13;&#10;C:\Users\sahar\Chalmers-Waikato\automatica2014/comparedata.tex&#13;&#10;C:\Users\sahar\Chalmers-Waikato\automatica2014/chart.tex"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="waters"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dwaters.test.inputdir=&quot;${workspace_loc:waters}/examples&quot;&#13;&#10;-Dwaters.test.outputdir=&quot;${workspace_loc:waters}/logs/results&quot;&#13;&#10;-Djava.library.path=&quot;${workspace_loc:waters}/dist&quot;&#13;&#10;-Xmx2048m"/>
</launchConfiguration>
